[submodule "submodule/eigen"]
	path = submodule/eigen
	url = https://github.com/eigenteam/eigen-git-mirror.git
[submodule "submodule/libigl"]
	path = submodule/libigl
	url = https://github.com/n-taka/libigl.git
